* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(/assets/images/background-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    min-height: 100vh;
    font-family: 'Incosolata', monospace;
}

.pattern-Lines {
    position: absolute;
    width: 100vw;
    z-index: -1;
    top: 0;
    opacity:0.3;
    width: 100%;
}

.laco-topo-direito{
    top: 10%;
    right: 0;
    position: absolute;
}   

.laco-base-esquerdao{
    bottom:-30%;
    left:0;
    position: absolute;
}

#container-logo{
    width: auto;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.logo-coding-conf{
    height: 1.5rem;
    width: auto;
}

.logo-title{
    color:aliceblue;
    font-family: 'Incosolata', monospace;
    font-size: 1.2rem;
    font-weight: bold;
}

#container-main-title{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    color:aliceblue;
    margin: 3rem auto;
}

#container-main-title h1{
    font-size: 2.5rem;
    font-family: 'Incosolata', monospace;
    line-height: 4rem;
}

#container-main-title h3{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: 'Incosolata', monospace;
    font-weight: lighter;
    opacity: 0.8;
}

#container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#container-form h3{
    color:aliceblue;
}


.upload-avatar{
    border: 1px solid aliceblue;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 10rem;
    width: 30rem;
    cursor: pointer;
    padding: 10px;
    color: aliceblue;
    font-size: 0.8rem;
    font-family: 'Incosolata', monospace;
    transition: 0.2s;
}

.upload-avatar:hover{
    opacity: 0.8;
}

.upload-icon{
    height: 3rem;
    background-color:rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(240, 248, 255, 0.160);
    margin-top: 1.1rem;
}

#container-form h4{
    color:aliceblue;
    font-weight: lighter;
    font-size: 1rem;
}

.upload-avatar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.descricao-upload{
    margin-top: 1rem;
    color: aliceblue;
    font-weight: lighter;
}

.input-field{
    border: 1px solid aliceblue;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    height: 3.5rem;
    width: 30rem;
    padding: 10px;
    color: aliceblue;
    font-size: 0.8rem;
    font-family: 'Incosolata', monospace;
    transition: 0.2s;
}

.input-field:hover{
    opacity: 0.8;
}

.gerar-ticket{
    border:none;
    border-radius: 20px;
    background-color: #ee7363;
    height: 3.5rem;
    width: 30rem;
    cursor: pointer;
    padding: 10px;
    color:black;
    font-size: 1.2rem;
    font-family:'Incosolata', monospace;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 2rem;
}

.gerar-ticket:hover{
    opacity: 0.8;
}

.form-nome-email-apelido{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email, .apelido{
    margin-top: 1rem;
}

#ticket-gerado h1{
    font-size: 2.5rem;
    font-family: 'Incosolata', monospace;
    line-height: 4rem;
    color: aliceblue;
}

#ticket-gerado h3{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: 'Incosolata', monospace;
    font-weight: lighter;
    opacity: 0.8;
    color: aliceblue;
}

#ticket-gerado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
    text-align: center;
}

#nameUser, #emailUser {
    background: linear-gradient(to right, #ee7363, #f3a183);
}

.new-ticket{
    background-image: url(/assets/images/pattern-ticket.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 4rem;
    width: auto;
    height: 19rem;
    width: 40rem;
    position: relative;
}

.logo-container-ticket{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    margin-left: 2rem;
    height: auto;
    width: auto;
}
.logoTicket{
    width: 2rem;
    margin-right: 1rem;
}

.date{
    display: flex;
    flex-direction: row;
    border-width: 1px solid red;
}

#h3-title{
    color: white;
    font-family: 'Incosolata', monospace;
    font-size: 2rem!important;
    font-weight: bold;
}

.data-geracao-ticket{
    color: aliceblue;
    padding-left: 2rem;
    opacity: 0.8;
}

.user-avatar {
    border-radius: 10px;
    position: absolute;
    left: 0;
    width: auto;
    height: 6rem;
    bottom: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

#user-info-text h4, h5{
    color: aliceblue;
}

#user-info-text h4{
    position: absolute;
    margin-left: 9rem;
    bottom: 0;
    margin-bottom: 5rem;
    font-size: 1.2rem;
}

#user-info-text h5{
    position: absolute;
    margin-left: 9rem;
    bottom: 0;
    margin-bottom: 3rem;
}

#user-info-text h6{
    rotate: 90deg;
    color: aliceblue;
    position: absolute;
    right: 0;
    margin-right: -1rem;
    margin-top: 2rem;
    font-size: 0.8rem;
    letter-spacing: 0.8rem;
}

@media (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        background-image: url(/assets/images/background-mobile.png);
    }

    .laco-base-esquerdo{
        position: absolute;
        height: 10rem;
        z-index: -1;
        bottom: 0;
        margin-bottom: -5rem;
    }

    .laco-topo-direito{
        height: 3.5rem;
        top: 3%;
    }

    #container-main-title{
        width: 90vw;
    }

    #container-main-title h1{
        font-size: 2rem;
        line-height: 1.2;
    }

    #container-form{
        width: 100%;
    }

    .upload-avatar{
        align-self: center;
        width: 85vw;
    }
    
    .input-field{
        width: 85vw !important;
    }

    .gerar-ticket{
        width: 85vw;
    }

    #ticket-gerado{
        width: 100%;
    }

    #ticket-gerado h1{
        font-size:1.8rem;
        line-height: 1.5;
    }

    .new-ticket{
        width: 85vw;
        margin-top: 1rem;
    }

    .logo-container-ticket{
        position: absolute;
        margin-top: 4rem;
        margin-left: 1rem;
    }

    #h3-title{
        font-size: 1.4rem!important;
    }

    .date{
        position: absolute;
        margin-top: 8.5rem;
        margin-left: 2rem;
    }

    .user-avatar{
        height: 3.2rem;
        position: absolute;
        margin-bottom: 5.2rem;
        margin-left: 1rem;
    }

    #user-info-text h4{
        font-size: 0.7rem;
        position: absolute;
        margin-left: 5rem;
        margin-bottom: 7rem;
    }

    #user-info-text h5{
        font-size: 0.7rem;
        position: absolute;
        margin-left: 5rem;
        margin-bottom: 5.6rem;
    }

    #user-info-text h6{
        font-size: 0.5rem;
        margin-top: 1.5rem;
        margin-top: 9.5rem;
    }



}